<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Rangde P2P</title>
</head>
<body>
	<div class="agreement-terms" style="text-align:center;"><b>LOAN AGREEMENT</b></div>
	<div>
		<p>
			This LOAN AGREEMENT <b>(“Agreement”)</b> has been made on the date as
			mentioned in <b>Annexure 1</b> hereto:
		</p>
		<p>
			<b>BY AND BETWEEN</b>
		</p>
		<p>
			A social investor described in Annexure 1 who agrees to lend a
			particular sum to the Borrower <i>(as defined below)</i> through the
			Platform <i>(as defined below)</i> (hereinafter referred to as <b>“Lender”</b>,
			which expression shall, unless it be repugnant to the context or
			meaning thereof, include his/her/its legal heirs, successors and
			permitted assigns) of the <b>FIRST PART</b>;
		</p>
		<p>
			<b>AND</b>
		</p>
		<p>
			The person/ entity described in Annexure 1, who/which avails the Loan
			Amount through the Platform, (hereinafter referred to as <b>“Borrower”</b>,
			which expression shall, unless it be repugnant to the context or
			meaning thereof, include his/her/its legal heirs, successors and
			permitted assigns) of the <b>SECOND PART</b>;
		</p>
		<p>
			<b>AND</b>
		</p>
		<p>
			<b>Rang De P2P Financial Services Private Limited</b>, is a
			non-banking financial company - P2P incorporated under the provisions
			of Companies Act, 2013, bearing Corporate Identification Number (CIN)
			U67190KA2017PTC108211 and having its registered office at No. 29/3,
			32/2, Raj Alkaa Park, Kalena Agrahara Village, Begur Hobli,
			Bangalore-560076, Karnataka, India (herein after referred to as the <b>“Confirming
				Party”</b>, which expression shall, unless it be repugnant to the
			context or meaning thereof, include its successors and assigns) of
			the <b>THIRD PART</b>;
		</p>
		<p>
			The Lender, the Borrower and the Confirming Party shall hereinafter
			individually be referred to as a <b>“Party”</b> and collectively as <b>“Parties”</b>.
		</p>
		<p>
			<b>WHEREAS</b>
		</p>
		<p>
			<p> 1. &nbsp;&nbsp;The Confirming Party operates an online
				peer-to-peer lending platform <b>(“Platform”)</b> whereby persons
				who are interested in social lending and persons who wish to avail
				loans register their profiles on the Platform as lenders and
				borrowers respectively. The Confirming Party facilitates the lending
				and borrowing activity through its Platform and provides ancillary
				services for the lending transaction.
			</p>
			<p> 2. &nbsp;&nbsp;The Lender is a registered
				participant on the Platform and intends to provide Loan Amount (as
				indicated in <b>Annexure 2</b>) to the Borrower.
			</p>
			<p>3. &nbsp;&nbsp;The Borrower is a registered
				participant on the Platform and wishes to avail the Loan Amount from
				the Lender. 
			</p>
			<p> 4. &nbsp;&nbsp;Parties have
				agreed to enter into this Agreement whereby the Parties have agreed
				to reduce the terms and conditions between them defining the duties,
				responsibilities and liabilities of each Party in writing. 
			</p>
		</p>
		<p>
			<b>NOW THIS AGREEMENT WITNESSETH AS FOLLOWS:</b>
		</p>
		<p>
			<p><b>1. &nbsp;&nbsp;SCOPE</b></p>  
			<p> 1.1.
				&nbsp;&nbsp;The Borrower being in need of the Loan Amount for the
				reasons stated in Annexure 2 <b>(“Purpose”)</b> has registered on
				the Platform as a potential borrower. The Lender having also
				registered on the Platform as a potential lender and upon having
				reviewed the identity of the Borrower, the Purpose for which the
				Loan is required and the credit scoring of the Borrower through the
				Platform, agrees at his/her/its sole discretion, to provide the Loan
				Amount to the Borrower on the terms and conditions contained herein.
			</p>  
			<p> 1.2. &nbsp;&nbsp;The Borrower hereby accepts
				the terms and conditions of availing the Loan. The Borrower also
				undertakes and agrees to give her/his/its full consent and
				cooperation with respect to the lending transaction contemplated
				under this Agreement. 
			</p>  
			<p> 1.3. &nbsp;&nbsp;The
				Borrower is responsible for the accuracy of all personal information
				and any other information provided at the time of registering on the
				Platform. It is clarified that the Confirming Party would not be
				liable in any manner whatsoever for any information uploaded on the
				Platform by the Borrower/ Lender (as the case may be). 
			</p>  
			<p>
				1.4. &nbsp;&nbsp;The Borrower and the Lender undertake to keep their
				communication address, contact number, banking details and such
				other details as may be required by the Confirming Party updated on
				the Platform at all times. 
			</p>
		</p>
		<p>
			<p><b>2. &nbsp;&nbsp;DISBURSEMENT OF LOAN</b></p>  
			<p>
				2.1. &nbsp;&nbsp;The Loan shall be disbursed to the Borrower as
				specified in Annexure 2 of this Agreement. 
			</p>  
			<p> 2.2. &nbsp;&nbsp;The disbursal of the Loan to the Borrower
				shall be undertaken through the escrow account created by the
				Confirming Party <b>(“Lender Escrow Account”)</b>, operated by the
				trustee promoted by the Bank in accordance with the provisions of
				the Master Direction - Non-Banking Financial Companies – Peer to
				Peer Lending Platform (Reserve Bank) Directions, 2017 bearing number
				DNBR (PD) 090/ 03.10.124/2017-18 dated October 4, 2017 and
				amendments thereto as applicable <b>(“RBI Directions”)</b>. The
				Borrower agrees and acknowledges that such disbursement is valid and
				legally binding on him/her/it.
			</p>  
			<p> 2.3. &nbsp;&nbsp;The Borrower understands
				and agrees that the Loan cannot be cancelled upon disbursement of
				the Loan Amount to his/her/its bank account. 
			</p>
		</p>
		<p>
			<p><b>3. &nbsp;&nbsp;INTEREST AND OTHER CHARGES</b></p> 
			<p> 3.1. &nbsp;&nbsp;The Borrower shall repay the Loan
				Amount along with applicable Interest as captured in Annexure 2 on
				the Payment Due Date(s) <i>(as defined in Annexure 2)</i> <b>(“Repayment
				Installment”)</b>. 
			</p>  
			<p> 3.2. &nbsp;&nbsp;The Borrower shall be liable to pay the
				Interest as set out in Annexure 2 with respect to the Loan availed
				from the Lender. The Interest shall be calculated from the date of
				disbursement of the Loan Amount to the Borrower till the date of
				repayment of all Outstanding Dues <i>(as defined below)</i>. 
			</p>  
			<p> 3.3. &nbsp;&nbsp;In the event the Repayment Installment is not
				paid within the Payment Due Date, it shall be construed, as a
				default on part of the Borrower and he/she/it shall become liable to
				pay the penalty on defaulted Repayment Installment as indicated in
				Annexure 2 (collectively the <b>“Outstanding Amounts”</b>). 
			</p>  
			<p> 3.4. &nbsp;&nbsp;The Borrower shall not be permitted to
				foreclose the Loan or make any pre-payment of the Loan Amount prior
				to the Payment Due Date. 
			</p>  
			<p> 3.5. &nbsp;&nbsp;The Confirming Party shall give notice to the
				Borrower and the Lender of any change in the terms and conditions of
				the Loan including the disbursement schedule, interest rates, other
				charges, repayment terms etc. The Borrower and the Lender (as the
				case may be) shall keep himself/herself/itself abreast with all such
				notifications and confirms that he/she/it would be bound by such
				change, without any dispute 
			</p>
		</p>
		<p>
			<p><b>4. &nbsp;&nbsp;REPAYMENT OF LOAN</b></p> 
			<p> 4.1. &nbsp;&nbsp;The Borrower shall repay the Loan Amount
				together with applicable Interest, taxes and other charges as
				indicated in Annexure 2, as may be applicable (collectively the
				<b>“Outstanding Amount”</b>), in the form of EMIs on the Payment Due Date
				as specified in Annexure 2 using debit card, net banking, cheque or
				any other electronic payment mode. 
			</p>  
			<p> 4.2. &nbsp;&nbsp;The Outstanding Amount shall be paid to the
				Lenders through the escrow account created by the Confirming
				Party<b>(“Borrower Escrow Account”)</b>, operated by the trustee promoted
				by the Bank in accordance with the provisions of the RBI Directions.
			</p>  
			<p> 4.3. &nbsp;&nbsp;The Borrower(s) may avail the auto debit
				facility for paying the Repayment Installment. On availing the auto
				debit facility, the bank account of such Borrowers will be debited,
				for the Repayment Installment on or within the Payment Due Date. In
				case the Payment Due Date is not a Business Day, the bank account
				shall be debited on the next business day. In the event if the bank
				account does not have sufficient funds on the Payment Due Date, the
				Borrower shall be liable to pay all the default charges applicable
				in addition to the Repayment Installment. Neither the Lender nor the
				Confirming Party shall be liable if any auto debit transaction is
				delayed or not effected at all, for any reason whatsoever. 
			</p>  
			<p> 4.4. &nbsp;&nbsp;The Repayment Installment shall be
				appropriated first against the Interest, then the principal Loan
				Amount and thereafter against the other charges. However, in the
				event of a default / delay in payment of the Repayment Installment
				beyond 90 (ninety) days from the Payment Due Date, any portion of
				the Outstanding Amounts recovered shall be apportioned first against
				the principal Loan Amount, then the Interest and thereafter the
				other charges. 
			</p>  
			<p> 4.5. &nbsp;&nbsp;In the event of death or insolvency of the
				Borrower the Outstanding Amount shall be recovered from his/her/its
				legal heir/s, successors, legal representative/s, executor/s, and
				administrator/s. 
			</p>  
			<p> 4.6. &nbsp;&nbsp;The Borrower understands and agrees that the
				obligations under the Agreement are valid and binding until the
				repayment of the entire Outstanding Amount in accordance with the
				terms and conditions of this Agreement. 
			</p>
		</p>
		<p>
			<p><b>5. &nbsp;&nbsp;TERM &amp; TERMINATION</b></p> 
			<p> 5.1. &nbsp;&nbsp;The Tenure of the Loan shall be as indicated
				as Annexure 2 and shall commence from the date of disbursal of the
				Loan Amount to the Borrower. 
			</p>  
			<p> 5.2. &nbsp;&nbsp;This Agreement shall remain in full force and
				effect and shall be binding on the Lender and the Borrower until all
				Outstanding Amounts are repaid by the Borrower to the Lender. It is
				clarified that even in the event the Confirming Party ceases to do
				business and/or ceases to operate the Platform, this Agreement shall
				continue in full force and effect 
			</p> 
		</p>
		<p>
			<p><b>6. &nbsp;&nbsp;DEFAULT AND REMEDIES</b></p> 
			<p> 6.1. &nbsp;&nbsp;The following acts, as set out below, shall
				constitute an ‘Event of Default’ by the Borrower: 
				<ol type="a">
					<li> The default in paying the Repayment Installment on
					or within the Payment Due Date; or 
					</li>
					<li> Breach of any of the terms
					and conditions of this Agreement including the representations,
					warranties, covenants; or 
					</li>
					<li> If any certification or document
					delivered by the Borrower shall have been proven to be incorrect in
					any material respect when made; or 
					</li>
					<li> Breach of any of the terms of
					use of the Platform; or 
					</li>
					<li> Occurrence of any fraud,
					misrepresentation or failure to submit any material information; or
					</li>
					<li> Borrower becomes bankrupt or insolvent, voluntarily or
					involuntarily becomes the subject of proceedings under any
					bankruptcy or insolvency law; or 
					</li>
					<li> It is or becomes unlawful for
					the Borrower to perform any of its obligations under this
					Agreement; or 
					</li>
					<li> Death of the Borrower.</li>
				</ol>
			</p>
			<p> 6.2. &nbsp;&nbsp;The Lender hereby authorizes the Confirming
				Party to facilitate the recovery of defaulted Outstanding Amounts by
				the Borrower &amp; take actions as it may deem fit to recover the
				Outstanding Amounts on his/her/its behalf. 
			</p>  
			<p> 6.3. &nbsp;&nbsp;Upon the occurrence of an Event of Default as
				specified above, without prejudice to the other remedies available
				under law or in equity, the Lender through the Confirming Party
				shall be entitled to exercise the following rights and remedies and
				may give a notice to the Borrower in this regard:
				<ol type="a"><li> terminate this
				Agreement and </li>
				<li> call upon the Borrower to pay the Outstanding
				Amounts immediately without demand, protest. </li></ol>
			</p>
			<p> 6.4. &nbsp;&nbsp;The Confirming Party on behalf of the Lender
				reserves the right to engage one or more persons to collect dues
				from the Borrower. The Lender and/or the Confirming Party may
				furnish to such person(s) such information, facts and figures
				pertaining to Loan, contact details of such Borrower, as it may deem
				fit to facilitate recovery of Outstanding Amounts from the Borrower.
			</p>  
			<p> 6.5. &nbsp;&nbsp;The Lender and the Borrower agree and
				understand that the Confirming Party has the right to report the
				Borrower to any credit bureau, RBI, or any other regulatory
				authority for any default on the Outstanding Amounts by the
				Borrower. 
			</p>  
			<p> 6.6. &nbsp;&nbsp;In the event a demand or claim for
				settlement of Outstanding Amount to the Borrower is made, either by
				the Lender or any person acting on behalf of the Lender, the
				Borrower agrees and acknowledges that such demand or claim shall not
				be regarded as an act of defamation or an act prejudicial to or
				reflecting upon the character of the Borrower in any manner. 
			</p>
		</p>
		<p>
			<p><b>7. &nbsp;&nbsp;REPRESENTATIONS AND WARRANTIES</b></p> 
			<p> 7.1. &nbsp;&nbsp;The Borrower makes the following
				representations and warranties to the Lender and the Confirming
				Party:
				<ol type="a">
					<li>The Borrower hereby certifies and warrants that he/she/it have
						not and shall not avail loans (in aggregate) in excess of Rs.
						10,00,000/- (Rupees Ten Lakhs only) at any point of time, across
						peer-to-peer lending platforms (including the Platform);
					</li>
					<li>The Borrower hereby certifies and warrants that he/she/it
						has not and shall not avail loans (in aggregate) in excess of Rs.
						50,000/- (Rupees Fifty Thousand only) at any point of time, from
						the same Lender through any peer-to-peer lending platforms
						(including the Platform);
					</li>
					<li>The Borrower hereby certifies that he/she is a major, of sound
						mind and capable of entering into this Agreement (whether directly
						or through his/her power of attorney holder);
					</li>
					<li>The Borrower agrees and confirms that he/she/it has read,
						understood and accepted the terms and conditions contained in this
						Agreement and undertakes to abide by the terms hereof including
						repayment of all Outstanding Amounts;
					</li>
					<li>Upon the execution this Agreement, it shall constitute to be a
						valid, enforceable and legally binding obligation of the Borrower
						and that by availing the Loan Amount, it creates a relationship of
						debtor and creditor between the Borrower and the Lender;
					</li>
					<li>That all information/ documents furnished by or on behalf of
						the Borrower in connection with obtaining the Loan, whether prior
						to the date hereof or contemporaneously with the execution of this
						Agreement and all information furnished hereinafter, is and will
						be true, correct and complete and that such information shall not
						have any adverse effect on the repayment of the Loan Amount or any
						charge applied thereof;
					</li>
					<li>That the Borrower shall promptly notify the Lender and/or
						Confirming Party on the occurrence of any event which may make any
						information provided to them untrue or incorrect including any
						change in personal information or banking details;
					</li>
					<li>That all persons authorized to act on behalf of the Borrower
						are true and bona fide. The Borrower agrees that all obligations
						undertaken thereunder are legal, binding and enforceable;
					</li>
					<li>The Borrower agrees that he/she/it has understood that the Loan
						is availed from the Lender and that he/she/it shall have no claims
						whatsoever against the Confirming Party for any reason whatsoever.
					</li>
				</ol>
			</p>
			<p> 7.2. &nbsp;&nbsp;The Lender makes the following
				representations and warranties to the Borrower and the Confirming
				Party:
				<ol type="a">
					<li>The Lender hereby certifies and warrants that he/she/it have
						not and shall not lend (in aggregate) in excess of Rs. 50,00,000/-
						(Rupees Fifty Lakhs only) at any point of time, across peer-to-peer
						lending platforms (including the Platform);
					</li>
					<li>
						The Lender hereby certifies and warrants that he/she/it shall produce 
						a certificate from a practicing Chartered Accountant certifying minimum 
						net-worth of ₹50,00,000 if his/her/it's aggregate investments grow in 
						excess of Rs. 10,00,000/- (Rupees Ten Lakhs only) at any point of time, 
						across peer-to-peer lending platforms (including the Platform);
					</li>
					<li>The Lender hereby certifies and warrants that he/she/it has not
						and shall not lend (in aggregate) in excess of Rs. 50,000/-
						(Rupees Fifty Thousand only) at any point of time, to the same
						Borrower through any peer-to-peer lending platforms (including the
						Platform);</li>
					<li>The Lender hereby certifies that he/she is a major, of sound
						mind and capable of entering into this Agreement (whether directly
						or through his/her power of attorney holder);</li>
					<li>The Lender agrees and confirms that he/she/it has read,
						understood and accepted the terms and conditions contained in this
						Agreement and undertakes to abide by the terms hereof. The Lender
						acknowledges that the Loan to the Borrower is an unsecured Loan
						and that neither the Platform nor RBI guarantees the repayment of
						the Loan Amount;</li>
					<li>That all information/ documents furnished by or on behalf of
						the Lender in connection with providing the Loan, whether prior to
						the date hereof or contemporaneously with the execution of this
						Agreement and all information furnished hereinafter, is and will
						be true, correct and complete;</li>
					<li>That the Lender shall promptly notify the Confirming Party on
						the occurrence of any event which may make any information
						provided to it untrue or incorrect including any change in
						personal information or banking details;</li>
					<li>That all persons authorized to act on behalf of the Borrower
						are true and bona fide. The Lender agrees that all obligations
						undertaken thereunder are legal, binding and enforceable;</li>
					<li>The Lender agrees that he/she/it has understood that the Loan
						is provided to the Borrower and that he/she/it shall have no
						claims whatsoever against the Confirming Party for any reason
						whatsoever.</li>
				</ol>
			</p>
		</p>
		<p>
			<p><b>8. &nbsp;&nbsp;COVENANTS</b></p> 
			<p> 8.1. &nbsp;&nbsp;The Borrower hereby covenants that he/she/it shall:
				<ol type="a">
					<li>ensure timely payment of all Outstanding Amounts within the
						Payment Due Date;</li>
					<li>utilize the Loan Amount solely for the Purpose and not use it
						for another purpose.</li>
					<li>utilize the Loan Amount for legal purposes and shall refrain
						from entering into any activity that shall be deemed illegal or
						partake in activities restricted by law and/or for any anti-social
						purpose.</li>
					<li>promptly notify the Lender and/or Confirming Party, of any
						change in the Borrower’s details such as mobile number, postal
						address or any other details provided.</li>
					<li>execute any and all documents, as the Lender and/or the
						Confirming Party may require, from time to time with respect to
						the Loan.</li>
				</ol>
			</p>
			<p> 8.2. &nbsp;&nbsp;The Lender hereby covenants that he/she/it:
				<ol type="a">
					<li>shall ensure that the Loan Amount provided is raised legally
						and not through any illegal activity whatsoever and is not
						counterfeit;</li>
					<li>shall promptly notify the Confirming Party, of any change in
						the Lender’s details such as mobile number, postal address or any
						other details provided.</li>
					<li>shall execute any and all documents, as the Confirming Party
						may require, from time to time with respect to the Loan and/or the
						services provided by the Confirming Party through its Platform.</li>
				</ol>
			</p>
		</p>
		<p>
			<p><b>9. &nbsp;&nbsp;INDEMNIFICATION</b></p> 
			<p> 9.1. &nbsp;&nbsp;The Borrower and the Lender agree to
				indemnify and hold the other Parties (including the Confirming
				Party) and its affiliates harmless from and against all losses,
				damages, costs, claims, suits and expenses whatsoever they may at
				any time incur, sustain, suffer or is likely to suffer in connection
				with:
				<ol type="a">
					<li>any misrepresentation or breach of representation, warranty,
						covenant or any other provisions of this Agreement; or</li>
					<li>any unauthorized use of the Platform.</li>
				</ol>
			</p>
			<p> 9.2. &nbsp;&nbsp;In no event shall any Party be liable to any
				other for any special, incidental, indirect, punitive or
				consequential damages whatsoever (including, without limitation,
				damages of loss of goods or services, loss of business profits,
				business interruption, loss of information, or any other pecuniary
				loss). </p> 
			<p> 9.3. &nbsp;&nbsp;It is understood and agreed between the
				Parties that in no event (save in the case of proven fraudulent
				actions) shall the Confirming Party be liable to either the Lender
				or the Borrower as the case may be, for any loss, expense or claim
				whatsoever arising out of:
				<ol type="a">
					<li>the use of, or inability to use or access the Platform or for
						any virus, bug, unauthorized intervention, defect, technical
						malfunctioning, temporary disablement, permanent discontinuance of
						the Platform or for any consequences resulting from such actions,
						whether or not foreseeable;</li>
					<li>acts done by on the instruction of any person impersonating
						himself/herself as a Borrower or Lender or as an unauthorized
						representative of the Borrower or the Lender;</li>
					<li>the exercise by the Confirming Party of its right to terminate
						the functioning of the Platform; or</li>
					<li>any injury to the credit character and reputation of the
						Borrower alleged to have been caused by the ceasing of the
						functioning of the Platform.</li>
				</ol>
			</p>
			<p> 9.4. &nbsp;&nbsp;Notwithstanding anything to the contrary
				contained herein or under any other transaction documents, the
				provisions of this clause shall survive the termination of this
				Agreement.</p>
		</p>
		<p>
			<p><b>10. &nbsp;&nbsp;RIGHT OF SET-OFF &amp; LIEN</b></p> 
			<p> 10.1. &nbsp;&nbsp;The Confirming Party shall have the paramount
				right of set-off and lien, irrespective of any other lien or charge,
				present as well as future, on the deposits of any kind and nature by
				the Borrower into the Borrower Escrow Account and the Confirming
				Party is entitled without any notice to the Borrower or the Lender,
				to settle any indebtedness whatsoever owed by the Borrower or the
				Lender (as the case may be) to the Confirming Party (whether actual
				or contingent, or whether primary or collateral, or whether joint
				and/or several).</p> 
			<p> 10.2. &nbsp;&nbsp;In addition to the above mentioned right or
				any other right which the Confirming Party may at any time be
				entitled whether by operation of law, contract or otherwise, the
				Confirming Party is authorized / will be entitled: (a) to combine or
				consolidate at any time all or any of the accounts and liabilities
				of the Borrower with or to any other loan availed by the Borrower
				through the Platform; (b) to institute any judicial proceedings in
				case of non- payment of outstanding dues by the Borrower.</p>
				
		</p>
		<p>
			<p><b>11. &nbsp;&nbsp;DISCLOSURES</b></p> 
			<p> 11.1. &nbsp;&nbsp;The Borrower undertakes and acknowledges
				that the Confirming Party shall, be entitled to disclose all or any
				information related to the Borrower,Loan , and/or
				liabilities/obligations of the Borrower under the Agreement to any
				credit bureaus/credit reference agencies, to Reserve Bank of India
				<b>(“RBI”)</b> and/or to any other regulatory authorities.</p> 
			<p> 11.2. &nbsp;&nbsp;The Borrower agrees and confirms that the
				Confirming Party may also disclose any of the aforesaid information
				to the Lender and/or its employees, representatives, service
				providers for the facilitation of the services to the Borrower
				through the Platform and for the purposes of this Agreement
				including but not limited to (a) for collection of documents/
				information of the Borrower; (b) verification of information /
				documents of the Borrower; (c) procuring of credit scoring/ rating
				of the Borrower from Credit Information Companies (CIC) and sharing
				of such information with the potential Lenders and sharing of
				repayment information relating to the Loan with such CICs and other
				agencies authorized by the Reserve Bank of India.</p> 
				
			<p> 11.2. &nbsp;&nbsp;The Borrower expressly accepts and
				authorizes the Confirming Party (and/or any such third party as the
				Confirming Party may appoint from time to time) on behalf of the
				Lender to contact third parties (including the family members of the
				Borrower) and disclose all necessary or relevant information
				pertaining to the Borrower and the Loan, and the Borrower hereby
				consents to such disclosure by the Confirming Party to the Lender
				(and/or any such third party as the Lender may appoint).</p>
				
		</p>
		<p>
			<p><b>12. &nbsp;&nbsp;DISCLAIMERS</b></p> 
			<p> 12.1. &nbsp;&nbsp;Each of the Lender and the Borrower
				acknowledge and agree that neither the Reserve Bank of India (RBI)
				nor the Confirming Party shall be liable towards the repayment of
				the Loan Amount or any of the charges set forth in this Agreement.
				</p> 
			<p> 12.2. &nbsp;&nbsp;Each of the Lender and the Borrower
				acknowledge and agree that neither Reserve Bank of India (RBI) nor
				the Confirming Party shall be liable towards any of the terms and
				conditions set forth in this Agreement except where specifically
				mentioned otherwise in this Agreement.</p> 
				
		</p>
		<p>
			<p><b>13. &nbsp;&nbsp;NOTICE</b></p> 
			<p> 13.1. &nbsp;&nbsp;All notices, replies, requests, reports, or
				other communications under this Agreement shall be in writing
				(including by way of electronic mail), effective upon receipt, on
				the address notified by the Parties under this Agreement.</p> 
		</p>
		<p>
			<p><b>14. &nbsp;&nbsp;GOVERNING LAW &amp; JURISDICTION</b></p> 
			<p> 14.1. &nbsp;&nbsp;The Parties shall address their grievances
				through the grievance redressal mechanism set up by the Confirming
				Party through its platform. The grievances raised shall be resolved
				in accordance with such mechanism established.</p> 
			<p> 14.2. &nbsp;&nbsp;This Agreement and the rights and
				obligations of the Parties hereunder shall be construed and governed
				by the laws of India and the courts of Bangalore, Karnataka shall
				have exclusive jurisdiction to try any matter arising out this
				Agreement.</p> 
				
		</p>
		<p>
			<p><b>15. &nbsp;&nbsp;MISCELLANEOUS</b></p> 
			<p> 10.1. &nbsp;&nbsp;Entire Agreement: This Agreement (along with
				the Terms of Use of the Platform) contains the entire understanding
				of the Parties with respect to the subject matter contained herein
				and supersedes all prior agreements and understandings both oral and
				written between the Parties with respect to such subject matter.
				</p> 
			<p> 10.2. &nbsp;&nbsp;Amendment: No amendment, modification or
				addition to this Agreement shall be effective or binding upon any
				Party unless set forth in writing and executed by them or their duly
				authorized representatives.</p> 
				
			<p> 10.2. &nbsp;&nbsp;Waiver: It is clarified that no failure or
				delay of any Party to insist upon the strict performance of any of
				the terms, conditions and provisions of this Agreement shall be
				construed as a waiver or relinquishment of future compliance
				therewith.</p> 
				
		</p>
	</div>
	<div class="anexure-1">
		<p style="text-align:center;"><b>ANNEXURE 1</b></p>
		<p>
			<div style="text-align:center;"><b>DATE OF AGREEMENT AND</b></div>
			<div style="text-align:center;"><b>DETAILS OF LENDER &amp; BORROWER</b></div>
		</p>
		<ol>
			<li>Date of this Agreement <br></br>
				<p>The <span th:text="${dayOfdisbursal}">30</span> day of <span th:text="${#strings.capitalize(monthOfdisbursal)}">May</span>, 
					<span th:text="${yearOfdisbursal}">Two Thousand Nineteen</span>
				</p>
			</li>
			<li><p>Lender</p>
				Name: <span th:text="${lenderName}">Amar Krishna</span><br></br>
				Date of Birth: <span th:text="${lenderDob}">12th May, 1990</span><br></br>
				<!-- S/o | D/o: *** -->
				<span th:if="${lenderAddress != null and lenderAddress != ''}">
					Address: <span th:text="${lenderAddress}"></span>
				</span>
			</li>
			<li><p>Borrower</p>
				Name: <span th:text="${borrowerName}">Anasuya Venkatesh</span><br></br>
				Date of Birth: <span th:text="${borrowerDob}">12th May, 1980</span><br></br>
				<!-- S/o | D/o: *** -->
				Address: <span th:text="${borrowerAddress}">H No: 0/0, Zero Nagar.</span>
			</li>
		</ol>
	</div>
	<div class="anexure-1">
		<p style="text-align:center;"><b>ANNEXURE 2</b></p>
		<p style="text-align:center;"><b>LOAN</b></p>
		<ol>
			<li><p>Loan Amount/ Loan</p>
				<p th:text="${loanAmount}">12000</p> 
			</li>
			<li><p>Purpose: </p>
				<p th:text="${loanPurpose}">Lend Elangbam Jamuna Devi a hand by contributing this loan.</p>
			</li>
			<li><p>Tenure of the Loan: </p>
				<p><span th:text="${loanTenure}">12</span> months</p>
			</li>
			<li><p>Disbursement of Loan Amount:</p>
				<p>Single Tranche</p>
			</li>
			<li><p>Timelines for Repayment Installment:</p>
				<p th:text="${repaymentMode}">Monthly</p>
			</li>
			<li><p>Repayment Installment amount: </p>
				<p th:text="${repaymentInstallmentAmount}">1234</p> 
			</li>
			<li><p>Payment Due Date(s): </p>
				<p>On the <span th:text="${dayOfdueDate}">29</span> day of every month</p>
			</li>
			<li><p>Interest Rate per annum: </p>
				<p th:text="${apr}">18</p>
			</li>
			<li><p>Penalty on Default:</p>
				<p>INR 0 </p>
			</li>
		</ol>
	</div>
</body>
</html>