<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>

.fntSize{
	font-size: 12px;
}
.borderRight{
	border-right: 1px solid black;
}
.borderBottom{
	border-bottom: 1px solid black;
}
.fnt{
	font-size: 10px;
}
.rowHt{
	height: 150px;
}
.colHt{
	height: 261px;
}
.borderTop{
	border-top: 1px solid black;
}
.addressWidth{
	width: 250px;
}
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.addRowHt{
	height: 165px;
}
.divideHt{
	height: 100px;
}
</style>
</head>
<body>

<div class="row borderBottom">
	<div class="col-md-5 mb-1">
		<img src="assets/blue_sky.png" alt="">
	</div>
	<div class="col-md-7 text-right mt-auto">
		<h6>BILL OF LADING</h6>
		<p class="mb-0">PROFORMA - NON NEGOTIABLE <span>(Non Negotiable Unless Consigned to Order)</span></p>	
	</div>
</div>
<div class="row borderBottom addRowHt">
  <div class="col-md-6 borderRight">
    <p class="fntSize">SHIPPER/EXPORTER (COMPLETE NAME AND ADDRESS)</p>
    <h6 class="addressWidth">GREAT MEGA HOLDINGS LIMITED
		UNIT C 13TH FLOOR, WING CHEONG
		COMMERCIAL BUILDING, 19-21
		JERVOIS STREET, SHEUNG WAN
		HONG KONG HONG KONG</h6>
  </div>
  <div class="col-md-6">
	  <div class="row">
		  <div class="col-md-6 borderRight borderBottom">
			<p class="fntSize">BOOKING NO.</p>
		  </div>
		  <div class="col-md-6 borderBottom">
			<p class="fntSize">BILL OF LADING NO.</p>
			<h6>OOLU2030463060</h6>
		  </div>
		  <div class="col-md-12">
			<p class="fntSize">EXPORT REFERENCES</p>
			<h6>RATE FOLDER 00104666</h6>
		  </div>
	  </div>
  </div>
</div>
<div class="row borderBottom addRowHt">
	<div class="col-md-6 borderRight">
		<p class="fntSize">CONSIGNEE (COMPLETE NAME AND ADDRESS)</p>
		<h6 class="addressWidth">INTEREXPRESS K.P. KOSTER GMBH
			BROOK 3 D-20457 HAMBURG
			GERMANY</h6>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12 divideHt borderBottom">
			  <p class="fntSize mb-0">FORWARDING AGENT-REFERENCES FMC NO.:</p>
			</div>
			<div class="col-md-12">
			  <p class="fntSize">POINT AND COUNTRY OF ORIGIN OF GOODS</p>
			</div>
		</div>
	</div>
  </div>
  <div class="row borderBottom addRowHt">
	<div class="col-md-6 borderRight pr-0">
		<div class="borderBottom">
		<p class="fntSize">NOTIFY PARTY (COMPLETE NAME AND ADDRESS)</p>

		<h6 class="addressWidth">BADVE ENGINEERING LIMITED
			D-39,M.I.D.C. INDUSTRIAL AREA
			WALUJ
			AURANGABAD 431136
			MAHARASHTRA, INDIA</h6></div>
			<div class="row">
				<div class="col-md-6 borderRight">
				  <p class="fntSize">PRE-CARRIAGE BY</p>
				</div>
				<div class="col-md-6">
				  <p class="fntSize">PLACE OF RECEIPT</p>
				  <h6>HONG KONG,++</h6>
				</div>
			</div>
	</div>
	<div class="col-md-6">
		<p class="fntSize">ALSO NOTIFY PARTY-ROUTING & INSTRUCTIONS</p>
		<h6 class="addressWidth">EXPORTER FINANCE LIMITED
			SAXON HOUSE, 3 ONSLOW STREET,
			GUILDFORD, SURREY GU1 4SY
			UNITED KINGDOM</h6>
	</div>
  </div>
  <div class="row borderBottom">
	<div class="col-md-6 borderRight pr-0">
			<div class="row">
				<div class="col-md-6 borderRight borderBottom">
				  <p class="fntSize">VESSEL/VOYAGE/FLAG</p>
				  <h6>HUI WAN 001 201021N</h6>
				</div>
				<div class="col-md-6 borderBottom">
				  <p class="fntSize">PORT OF LOADING</p>
				  <h6>HONG KONG</h6>
				</div>
				<div class="col-md-6 borderRight">
					<p class="fntSize">PORT OF DISCHARGE</p>
					<h6>HAMBURG</h6>
				  </div>
				  <div class="col-md-6">
					<p class="fntSize">PLACE OF DELIVERY</p>
					<h6>HAMBURG,+++</h6>
				</div>
			</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6 borderRight borderBottom">
			  <p class="fntSize">LOADING PIER/TERMINAL</p>
			</div>
			<div class="col-md-6 borderBottom">
			  <p class="fntSize">ORIGINALS TO BE RELEASED AT</p>
			  <h6>HONG KONG</h6>
			</div>
			<div class="col-md-12">
				<p class="fntSize">TYPE OF MOVEMENT (IF MIXED, USE DESCRIPTION OF PACKAGES AND GOODS FIELD)</p>
				<div class="row">
					<div class="col-md-6"><h6>FCL / FCL</h6></div>
					<div class="col-md-6"><h6>CY/CY</h6></div>
				</div>
			</div>
		</div>
	</div>
  </div>
  <div class="row borderBottom">
	<div class="col-md-4 borderRight">
		<p class="fntSize">(CHECK "HM" COLUMN IF HAZARDOUS MATERIAL)</p>
	</div>
	<div class="col-md-8">
		<h6>PARTICULARS DECLARED BY SHIPPER BUT NOT ACKNOWLEDGED BY THE CARRIER</h6>
	</div>
  </div>
  <!-- <div class="row">
	  <div class="col-md-1 fnt">NOTICE 1:</div>
	  <div class="col-md-11 fnt">For carriage to or from the United States of America,(i) Clauses 4 and 23 on the reverse side hereof limit the Carrier's liability to a maximum of U.S.$500 per package or customary freight unit by virtue or incorporation of the U.S. Carriage of Goods by Sea Act ("COGSA"),unless the Merchant
		declares a higher cargo value below and pays the Carrier's ad valorem freight charge; and (ii) if carried on deck at Merchant's risk as to perils inherent in such carriage but in all other respects subject to the provisions of COGSA.</div>
  	  <div class="col-md-1 fnt">NOTICE 2:</div>
	  <div class="col-md-11 fnt">See Clause 28 on the reverse side hereof: Notice to Endorsee and/or Holder and/or Transferee.</div>
	  <div class="col-md-1 fnt">NOTICE 3:</div>
	  <div class="col-md-11 fnt">If Goods carried on deck at Merchant's risk without responsibility for loss or damage howsoever caused.</div>
</div> -->

<div class="row borderBottom">
	<div class="col-md-3 borderRight">
		<p class="fntSize mb-0 text-center">CNTR. NOS. W/SEAL NOS.MARK & NUMBERS</p>
	</div>
	<div class="col-md-1 borderRight">
		<p class="fntSize mb-0 text-center">QUANTITY
			(FOR CUSTOMS
			DECLARATION ONLY)</p>
	</div>
	<div class="col-md-1 borderRight">
		<p class="fntSize mb-0 text-center">HM</p>
	</div>
	<div class="col-md-3 borderRight">
		<p class="fntSize mb-0 text-center">DESCRIPTION OF GOODS</p>
	</div>
	<div class="col-md-2 borderRight">
		<p class="fntSize mb-0 text-center">GROSS WEIGHT</p>
	</div>
	<div class="col-md-2">
		<p class="fntSize mb-0 text-center">MEASUREMENT</p>
	</div>
</div>
<div class="row rowHt borderBottom">
	<div class="col-md-3 borderRight">
		<!-- <p class="fntSize">CNTR. NOS. W/SEAL NOS.MARK & NUMBERS</p> -->
	</div>
	<div class="col-md-1 borderRight">
		<!-- <p class="fntSize">CNTR. NOS. W/SEAL NOS.MARK & NUMBERS</p> -->
	</div>
	<div class="col-md-1 borderRight">
		<!-- <p class="fntSize">HM</p> -->
	</div>
	<div class="col-md-3 borderRight">
		<!-- <p class="fntSize">DESCRIPTION OF GOODS</p> -->
	</div>
	<div class="col-md-2 borderRight">
		<!-- <p class="fntSize">GROSS WEIGHT</p> -->
	</div>
	<div class="col-md-2">
		<!-- <p class="fntSize">MEASUREMENT</p> -->
	</div>
</div>
<div class="borderBottom fntSize">
	Declared Cargo Value US$_____________________ .If Merchant enters a value, Carrier's limitation of liability shall not apply and the ad valorem rate will be charged.
</div>
<div class="row borderBottom">
	<div class="col-md-8 borderRight">
		<div class="row">
			<div class="col-md-4 borderRight borderBottom">
				<p class="fntSize">FREIGHT & CHARGES PAYABLE AT/BY:</p>
			</div>
			<div class="col-md-2 borderRight borderBottom">
				<p class="fntSize">SERVICE CONTRACT NO.</p>
			</div>
			<div class="col-md-2 borderRight borderBottom">
				<p class="fntSize">DOC FORM NO.</p>
			</div>
			<div class="col-md-2 borderRight borderBottom">
				<p class="fntSize">COMMODITY CODE</p>
			</div>
			<div class="col-md-2 borderBottom">
			</div>
			<div class="col-md-2 colHt">
				<p class="fntSize">CODE</p>
			</div>
			<div class="col-md-2 borderRight">
				<p class="fntSize">TARIFF ITEM</p>
			</div>
			<div class="col-md-2 borderRight">
				<p class="fntSize">FREIGHTED AS</p>
			</div>
			<div class="col-md-1 borderRight">
				<p class="fntSize">RATE</p>
			</div>
			<div class="col-md-1 borderRight">
				<p class="fntSize">PREPAID</p>
			</div>
			<div class="col-md-2 borderRight">
				<p class="fntSize">COLLECT</p>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<div class="col-md-4 pl-0">
		<p class="fnt">Received the Container/Package or other
			units indicated in the box identified as "Total
			No. of Containers/Packages received and
			acknowledged by Carrier" in apparent good
			order and condition, unless otherwise
			indicated, to be transported and delivered as
			herein provided.</p>
			<p class="fnt">The receipt, custody, carriage and delivery of
				the goods are subject to the terms appearing
				on the face and back hereof and to the
				Carrier's applicable tariff.</p>
			<p class="fnt borderBottom mb-0">In witness whereof 3 original bills of lading
				have been signed, one of which being
				accomplished, the other(s) to be void.</p>
				<div class="borderBottom">
					<p class="fntSize">DATE CARGO RECEIVED</p>
					<h6></h6>
				</div>
				<div class="borderBottom">
					<p class="fntSize">DATE LADEN ON BOARD o</p>
					<h6>22 OCT 2020</h6>
				</div>
				<div>
					<p class="fntSize">DATED</p>
					<h6>22 OCT 2020</h6>
				</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4 borderRight">
		<!-- <p class="fnt">The printed terms and conditions appearing on the face and reverse side of
			this Bill of Lading are available at www.oocl.com, in OOCL's published US
			tariffs, and in pamphlet form.</p>
			<p class="fntSize mb-0">+ STRIKE OUT FOR ON BOARD VESSEL BILL OF LADING</p>
			<p class="fntSize mb-0">SEE CLAUSE 1 ON REVERSE SIDE</p>
			<p class="fntSize mb-0">SEE CLAUSE 2 ON REVERSE SIDE</p>
			<p class="fntSize mb-0">QF001</p>
			<p class="fntSize mb-0">HQD 01/01</p> -->
	</div>
	<div class="col-md-2 borderRight borderBottom"></div>
	<div class="col-md-2 borderRight borderBottom"></div>
	<div class="col-md-4">
		<p class="fntSize">SIGNED BY Orient Overseas Container
			Line as Carrier♦</p>
	</div>
</div>
<div class="row mt-5">
	<div class="col-md-8"></div>
	<div class="col-md-4">
		<p class="fntSize borderTop">OOCL Hong Kong Branch</p>
	</div>
</div>
<!-- <div class="row borderBottom">
	<div class="col-md-4 mt-auto">
		<h6>VESSEL: HUI WAN 001</h6>
	</div>
	<div class="col-md-4 text-right">
		<h6>PROFORMA - NON NEGOTIABLE</h6>
		<h6>VOYAGE: 201021N</h6>
	</div>
	<div class="col-md-4 text-right mt-auto">
		<h6>B/L NO.: OOLU2030463060</h6>
	</div>
</div>
<div class="row borderBottom">
	<div class="col-md-3 borderRight">
		<p class="fntSize mb-0 text-center">CNTR. NOS. W/SEAL NOS.MARK & NUMBERS</p>
	</div>
	<div class="col-md-1 borderRight">
		<p class="fntSize mb-0 text-center">QUANTITY
			(FOR CUSTOMS
			DECLARATION ONLY)</p>
	</div>
	<div class="col-md-1 borderRight">
		<p class="fntSize mb-0 text-center">HM</p>
	</div>
	<div class="col-md-3 borderRight">
		<p class="fntSize mb-0 text-center">DESCRIPTION OF GOODS</p>
	</div>
	<div class="col-md-2 borderRight">
		<p class="fntSize mb-0 text-center">GROSS WEIGHT</p>
	</div>
	<div class="col-md-2">
		<p class="fntSize mb-0 text-center">MEASUREMENT</p>
	</div>
</div>
<div class="row rowHt borderBottom">
	<div class="col-md-3 borderRight">
	</div>
	<div class="col-md-1 borderRight">
	</div>
	<div class="col-md-1 borderRight">
	</div>
	<div class="col-md-3 borderRight">
	</div>
	<div class="col-md-2 borderRight">
	</div>
	<div class="col-md-2">
	</div>
</div>
<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-4">
				<p class="fntSize">SIGNED BY Orient Overseas Container
					Line as Carrier♦</p>
	</div>
	<div class="col-md-8"></div>
	<div class="col-md-4 mt-5 borderTop">
				<p class="fntSize">OOCL Hong Kong Branch</p>
	</div>
</div> -->
</body>
</html>
